<h1 class="mb-1 restaurant-show-title">編輯餐廳</h1>
<div class="container">
  <form action='/restaurants/{{restaurant._id}}/edit' method='POST'>
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label">店名<span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control col-sm-10"
        id="name"
        placeholder="梅子鰻蒲燒專賣店"
        name="name"
        value="{{restaurant.name}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="name_en" class="col-sm-2 col-form-label">英文店名<span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control col-sm-10"
        id="name_en"
        placeholder="Umeko Japanese Unagi House"
        name="name_en"
        value="{{restaurant.name_en}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="category" class="col-sm-2 col-form-label">分類<span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control col-sm-10"
        id="category"
        placeholder="日本料理"
        list="categoryOptions"
        name="category"
        value="{{restaurant.category}}"
        required
      />
      {{! 使用datalist，讓使用者可選擇或自行輸入 }}
      <datalist id="categoryOptions">
        <option>美式</option>
        <option>咖啡</option>
        <option>中東料理</option>
        <option>日本料理</option>
        <option>義式餐廳</option>
      </datalist>
    </div>
    <div class="mb-3 row">
      <label for="image" class="col-sm-2 col-form-label" >圖片連結<span class="text-danger">*</span></label>
      <input 
        type="url" 
        class="form-control  col-sm-10" 
        id="image" 
        name="image" 
        placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5628/02.jpg" 
        value="{{restaurant.image}}"
        required 
      />
    </div>
    <div class="mb-3 row">
      <label for="location" class="col-sm-2 col-form-label">地址<span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control col-sm-10"
        id="location"
        placeholder="台北市中山區林森北路 107 巷 8 號"
        name="location"
        value="{{restaurant.location}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="phone" class="col-sm-2 col-form-label">電話<span class="text-danger">*</span></label>
      <input
        type="tel"
        class="form-control col-sm-10"
        id="phone"
        placeholder="02 2521 2813"
        name="phone"
        value="{{restaurant.phone}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="google_map" class="col-sm-2 col-form-label">Google地圖連結<span class="text-danger">*</span></label>
      <input
        type="url"
        class="form-control col-sm-10"
        id="google_map"
        name="google_map"
        placeholder="https://goo.gl/maps/cUJEmFSRKyH2"
        value="{{restaurant.google_map}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="rating" class="col-sm-2 col-form-label">評分<span class="text-danger">*</span></label>
      <input
        type="number"
        class="form-control col-sm-10"
        placeholder="最高 5 分最低 0 分"
        id="rating"
        min="0"
        max="5"
        step="0.1"
        name="rating"
        value="{{restaurant.rating}}"
        required
      />
    </div>
    <div class="mb-3 row">
      <label for="description" class="col-sm-2 col-form-label">敘述<span class="text-danger">*</span></label>
      <textarea
        class="form-control col-sm-10"
        id="description"
        rows="3"
        name="description"
        placeholder="鰻魚、鰻魚飯、真空鰻魚"
        required
      >{{restaurant.description}}
      </textarea>
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">
        編輯餐廳
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      {{! 使用type="reset" 可以清除/還原輸入 }}
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
    </div>
  </form>
</div>